# To be done

# Modules
modules/automod/ @WilsontheWolf @KommentatorForAll
modules/autoresponses/ @KommentatorForAll
modules/cooldownNotifications/ @KommentatorForAll
modules/dmCommands/ @KommentatorForAll
modules/errorHandling/ @KommentatorForAll
modules/inlineCommands/ @KommentatorForAll
modules/interactions/ @WilsontheWolf @KommentatorForAll
modules/leveling/ @KommentatorForAll
modules/messagePreview/ @Chicken
modules/modCommands/ @WilsontheWolf
modules/startupModule/ @KommentatorForAll
modules/threadjoin/ @Chicken
modules/twitter/ @Chicken
modules/welcome/ @Chicken

# Misc Code
loadModules.js @KommentatorForAll
modUtil.js @WilsontheWolf
notifcations.js @KommentatorForAll
permissons.js @KommentatorForAll @WilsontheWolf
roles.js @WilsontheWolf
util.js @WilsontheWolf @KommentatorForAll
xpHandling.js @KommentatorForAll

# Config
.env.example @Chicken
config.js @Chicken @KommentatorForAll

# Meta Stuff
.github/workflows/ @Chicken
.github/dependabot.yml @Chicken

.dockerignore @Chicken
.lintstagedrc.json @Chicken
.prettierrc.json @Chicken
docker-compose.yml @Chicken
Dockerfile @Chicken
