# Modules
src/modules/activityLeaderboard @WilsontheWolf
src/modules/automod/ @WilsontheWolf @KommentatorForAll
src/modules/autoresponses/ @KommentatorForAll
src/modules/cooldownNotifications/ @KommentatorForAll
src/modules/dmCommands/ @KommentatorForAll
src/modules/errorHandling/ @KommentatorForAll
src/modules/inlineCommands/ @KommentatorForAll
src/modules/interactions/ @WilsontheWolf @KommentatorForAll
src/modules/leveling/ @KommentatorForAll
src/modules/messagePreview/ @Chicken
src/modules/modCommands/ @WilsontheWolf
src/modules/startupModule/ @KommentatorForAll
src/modules/threadjoin/ @Chicken
src/modules/twitter/ @Chicken
src/modules/welcome/ @Chicken
src/modules/reactionCommands/ @WilsontheWolf

# Constants
src/constants/ @KommentatorForAll @WilsontheWolf @Chicken

# DTO's
src/dto/OffenceDto.js @WilsontheWolf
src/dto/ResponseDto.js @KommentatorForAll
src/dto/UserDto.js @WilsontheWolf @KommentatorForAll
src/dto/EmbedPage.js @KommentatorForAll
src/dto/EmbedPageMessage.js @KommentatorForAll

# Base Code
src/loadModules.js @KommentatorForAll
src/modUtil.js @WilsontheWolf
src/notifications.js @KommentatorForAll
src/permissions.js @KommentatorForAll @WilsontheWolf
src/roles.js @WilsontheWolf
src/util.js @WilsontheWolf @KommentatorForAll
src/xpHandling.js @KommentatorForAll
src/index.js @WilsontheWolf @KommentatorForAll @Chicken
src/dbs.js @WilsontheWolf
src/helper/ @WilsontheWolf

# Config
.env.example @Chicken @KommentatorForAll @WilsontheWolf
src/config.js @Chicken @KommentatorForAll

# Meta Stuff
.github/workflows/ @Chicken
.github/dependabot.yml @Chicken

.dockerignore @Chicken
.lintstagedrc.json @Chicken
.prettierrc.json @Chicken
docker-compose.yml @Chicken
Dockerfile @Chicken
package.json @Chicken
